<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="POST">
Team Name: <input type="text" id="team_name" name="team[name]"></input>
Team Motto: <input type="text" id="team_motto" name="team[motto]"></input>

<h2>Hero 1</h2>
Hero's Name: <input type="text" id="hero_1_name" name="team[hero][][name]"></input>

<input type="submit">
</form>