<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="POST">
<p>Team Name: <input type="text" id="team_name" name="team[name]"></input></p>
<p>Team Motto: <input type="text" id="team_motto" name="team[motto]"></input></p>

<h2>Hero 1</h2>
<p>Heros Name: <input type="text" id="member1_name" name="team[members][][name]"></input></p>
<p>Heros Power: <input type="text" id="member1_power" name="team[members][][power]"></input></p>
<p>Heros Biography: <input type="text" id="member1_bio" name="team[members][][bio]"></input></p>
<br>
<h2>Hero 2</h2>
<p>Heros Name: <input type="text" id="member2_name" name="team[members][][name]"></input></p>
<p>Heros Power: <input type="text" id="member2_power" name="team[members][][power]"></input></p>
<p>Heros Biography: <input type="text" id="member2_bio" name="team[members][][bio]"></input></p>
<br>
<h2>Hero 3</h2>
<p>Heros Name: <input type="text" id="member3_name" name="team[members][][name]"></input></p>
<p>Heros Power: <input type="text" id="member3_power" name="team[members][][power]"></input></p>
<p>Heros Biography: <input type="text" id="member3_bio" name="team[members][][bio]"></input></p>
<br>
<br>
<input type="submit" id="submit" value="submit">
</form>